/* FORMATO DE LA PAGINA*/ 

* {
    text-decoration: none;
}

.disclaimer {
	display: none;
}

body {
	background-image: url(img/biscobw.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

header{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 50px;
	text-align: center;
	background-color: #aaaba5;
	display: flex;
	box-shadow: 5px 5px 15px 0px black;
}

footer{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	background-color: #aaaba5;
	box-shadow: 5px 5px 15px 0px black;
	height: 80px;
	text-align: center;
}

.anclaFL:hover {
	color: black; 
	text-decoration: none 
}

.anclaFL:visited {
	color: black;
	text-decoration: none 
}


/* FORMATO DE LA PAGINA */

/* FOOTER LINKS */

.headerFL-name{	
    padding-left: 15px;
    color: #c5c8b7;
    text-decoration: none;
}
    
.headerFL{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
        text-align: center;
        background-color: #831d1d;
        display: flex;
        box-shadow: 5px 5px 15px 0px black;
    }
    
.mainFL-Div{
    text-align: center;
    display: block;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif; 
    padding: 40px;
    margin: 40px;
    background-color: #c5c8b7;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 15px 0px black;
}
    
.anclaFL-name {
    color: #c5c8b7;
}
    
.mainFL-Subtitle{
    color: #681b1b;
}

.headerFL-img{
	padding-top: 58px;
	padding-left: 10px;
	width:100px;
	height:100px;
}

.footerFL-Text{
	padding-top:7px;
}

/* FOOTER LINKS */